<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button (click)="st.export()" nzType="primary">导出</button>
    <button (click)="add()" nz-button nzType="primary">添加</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
  <st
    #st
    [data]="pay"
    [columns]="columns"
    [clickRowClassName]="clickRowClassName"
    virtualScroll
    [scroll]="{ x: '2000px', y: '240px' }"
    [contextmenu]="handleContextmenu"
  ></st>
</nz-card>
