<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 用户信息</div>
</div>
<nz-spin *ngIf="!record" class="modal-spin"></nz-spin>
<div sv-container *ngIf="record">
  <sv label="用户编号">{{ record.no }}</sv>
  <sv label="用户名称">{{ record.name }}</sv>
  <sv label="用户头像">
    <img nz-image fit="cover" width="100" src="{{ record.avatarPath }}" alt="" />
  </sv>
  <sv label="角色">{{ record.role == 'ROLE_AGED' ? '老人' : record.role == 'ROLE_STAFF' ? '职员' : '管理员' }}</sv>
  <sv label="状态">{{ record.status == '0' ? '禁用' : '启用' }}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
