<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 服务信息</div>
</div>
<nz-spin *ngIf="!record" class="modal-spin"></nz-spin>
<div sv-container *ngIf="record" col="2">
  <sv label="服务编号">{{ record.no }}</sv>
  <sv label="服务名称">{{ record.name }}</sv>
  <sv label="服务类别编号">{{ record.categoryNo }}</sv>
  <sv label="价格">{{ record.price }}</sv>
  <sv label="图片">
    <img nz-image fit="cover" width="100" height="100" src="{{ record.thumbnailPath }}" alt="" />
  </sv>
  <sv label="描述">{{ record.description }}</sv>
  <sv label="详情图片">
    <div *ngFor="let item of record.imgList; let i = index">
      <img nz-image fit="cover" width="150px" height="150px" src="{{ item }}" />
    </div>
  </sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
