<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button (click)="st.export()" nzType="primary">导出</button>
    <button (click)="add()" nz-button nzType="primary">添加</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="search($event)" (formReset)="reset($event)"></sf>
  <div class="mb-md">
    <button nz-button nzType="primary" (click)="deleteClick($event)">删除记录</button>
  </div>
  <st
    #st
    [data]="recommend"
    [columns]="columns"
    (change)="_click($event)"
    [clickRowClassName]="clickRowClassName"
    [contextmenu]="handleContextmenu"
  ></st>
</nz-card>
