<div class="modal-header">
  <div class="modal-title">{{ record.flag ? '编辑' : '新增' }} {{ record.id }} 推荐信息</div>
</div>
<nz-spin *ngIf="!record" class="modal-spin"></nz-spin>
<sf *ngIf="record" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="record" button="none">
  <ng-template sf-template="thumbnailPath" let-i let-ui="ui" let-schema="schema">
    <nz-upload
      nzType="drag"
      nzListType="picture"
      [(nzFileList)]="picList"
      nzAccept=".png,.jpeg,.jpg"
      [nzBeforeUpload]="beforeUpload"
      [nzCustomRequest]="picListUpload"
      [nzMultiple]="false"
      (nzChange)="picChange($event)"
      [nzDisabled]="picList.length > 0"
    >
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p>点击或拖动上传文件</p>
    </nz-upload>
  </ng-template>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)" [disabled]="!sf.valid" [nzLoading]="http.loading"
      >保存</button
    >
  </div>
</sf>
